body{
    background-color: #f5f5f5;
    color: #4e4e4e;
}
h1,h2,h3,h4,h5,h6{
    color:#1e1e1e;
    margin-bottom: .5rem;
    font-weight: 500;
}
/* Start Home */
header{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.obacity{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
}
.active::before{
    visibility: visible;
    width: 65%;
}
nav ul li a{
    position: relative;
}
nav ul li a:before{
    content: '';
    background-color: #fff;
    width: 0;
    height: 2px;
    position: absolute;
    left: 8px;
    bottom: 0px;
    visibility: hidden;
    transition: all .3s ease-in-out 0s;
}
nav a:hover:before, nav li:hover > a:before, nav .active:before{
    visibility: visible;
    width: 70%;
}
.text .title{
    font-size: 70px;
    color: #Fff;
}
.text p{
    font-size: 40px;
}
/* Start Home */