body{
    background-color: #f5f5f5;
    color: #4e4e4e;
}
h1,h2,h3,h4,h5,h6{
    color:#1e1e1e;
    margin-bottom: .5rem;
    font-weight: 500;
}
/* Start Home */
header{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.obacity{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
}
.active::before{
    visibility: visible;
    width: 65%;
}
nav ul li a{
    position: relative;
}
nav ul li a:before{
    content: '';
    background-color: #fff;
    width: 0;
    height: 2px;
    position: absolute;
    left: 8px;
    bottom: 0px;
    visibility: hidden;
    transition: all .3s ease-in-out 0s;
}
nav a:hover:before, nav li:hover > a:before, nav .active:before{
    visibility: visible;
    width: 70%;
}
.text .title{
    font-size: 70px;
    color: #Fff;
}
.text p{
    font-size: 40px;
}
/* Start Home */
/* START-TITLE */
.title .title-h{
    margin-top: 10.25px;
    bottom: 9px;
}
.title .title-h h2{
    font-weight: 800;
    font-size: 2.5rem;
}
.title h2::after{
    content: "";
    width: 34px;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.title:hover h2::after{
    width: 60px;
}
.title h3{
    color: rgb(165 163 163 / 28%);
    font-size: 5rem;
    font-weight: 750;
    letter-spacing: 5px;
}
/* END-TITLE */


/* START-ABOUT */
#about .about-skill .bar .progress-bar{
    background-color: var(--maincolor);
}
#about .about-skill .bar .progress-title{
    position: relative;
    bottom: -38px;
}
#about .about-skill .bar .progress-value1{
    position: relative;
    left: 72%;
}
#about .about-skill .bar .progress-value2{
    position: relative;
    left: 86%;
}
#about .about-skill .bar .progress-value3{
    position: relative;
    left: 76%;
}
#about .about-skill .bar .progress-value4{
    position: relative;
    left: 61%;
}
/* END-ABOUT */
